openapi: 3.0.3
info:
  title: 'MaxTur Mobile API v2'
  description: 'Contrato canônico para integração dos aplicativos MaxTur com viagens, checklists, ocorrências, notificações e pagamentos.'
  version: 1.0.0
servers:
  -
    url: 'https://app.maxtur.systex.com.br'
tags:
  -
    name: Admin
    description: ''
  -
    name: Atrasos
    description: ''
  -
    name: Auth
    description: ''
  -
    name: Checklist
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: Me
    description: ''
  -
    name: Notificacoes
    description: ''
  -
    name: Solicitacoes
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Obtenha o token em <code>POST /api/v2/auth/login</code> e envie <code>Authorization: Bearer TOKEN</code>. Operações de escrita autenticadas também exigem <code>Idempotency-Key</code>.'
security:
  -
    default: []
paths:
  /api/v2/admin/solicitacoes:
    get:
      summary: 'Listar solicitacoes (admin)'
      operationId: listarSolicitacoesadmin
      description: 'Lista solicitacoes do operador autenticado.'
      parameters:
        -
          in: query
          name: status
          description: 'Filtro por status.'
          example: programada
          required: false
          schema:
            type: string
            description: 'Filtro por status.'
            example: programada
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Solicitacoes listadas'
                  data:
                    current_page: 1
                    data: []
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Solicitacoes listadas'
                  data:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      data:
                        type: array
                        example: []
      tags:
        - Admin
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                data_inicio:
                  type: string
                  description: validation.date.
                  example: '2026-06-29T17:45:04'
                  nullable: true
                data_fim:
                  type: string
                  description: 'validation.date validation.after_or_equal.'
                  example: '2052-07-22'
                  nullable: true
                cliente_id:
                  type: integer
                  description: ''
                  example: 16
                  nullable: true
                motorista_id:
                  type: integer
                  description: ''
                  example: 16
                  nullable: true
                veiculo_id:
                  type: integer
                  description: ''
                  example: 16
                  nullable: true
                natureza:
                  type: string
                  description: ''
                  example: extra
                  enum:
                    - programada
                    - extra
                  nullable: true
                tipo_periodo:
                  type: string
                  description: ''
                  example: mensal
                  enum:
                    - diario
                    - mensal
                    - esporadico
                  nullable: true
                per_page:
                  type: integer
                  description: 'validation.min validation.max.'
                  example: 22
                  nullable: true
  '/api/v2/admin/solicitacoes/{id}/status':
    patch:
      summary: 'Atualizar status de solicitacao'
      operationId: atualizarStatusDeSolicitacao
      description: 'Altera status de uma solicitacao do operador.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Status atualizado com sucesso'
                  data:
                    id: 101
                    status: aprovada
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Status atualizado com sucesso'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 101
                      status:
                        type: string
                        example: aprovada
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Novo status.'
                  example: aprovada
              required:
                - status
    parameters:
      -
        in: path
        name: id
        description: 'ID da solicitacao.'
        example: 101
        required: true
        schema:
          type: integer
  '/api/v2/admin/solicitacoes/{id}/atribuir':
    patch:
      summary: 'Atribuir veiculo e motorista'
      operationId: atribuirVeiculoEMotorista
      description: 'Registra atribuicao operacional para a solicitacao.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Atribuicao registrada com sucesso'
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Atribuicao registrada com sucesso'
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                veiculo_id:
                  type: integer
                  description: 'ID do veiculo.'
                  example: 1
                motorista_id:
                  type: integer
                  description: 'ID do motorista.'
                  example: 2
              required:
                - veiculo_id
                - motorista_id
    parameters:
      -
        in: path
        name: id
        description: 'ID da solicitacao.'
        example: 101
        required: true
        schema:
          type: integer
  '/api/v2/admin/solicitacoes/{id}/atraso':
    post:
      summary: 'Registrar atraso da viagem'
      operationId: registrarAtrasoDaViagem
      description: 'Cria registro de atraso no nivel da solicitacao.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Atraso de viagem registrado com sucesso'
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Atraso de viagem registrado com sucesso'
      tags:
        - Atrasos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                minutos_atraso:
                  type: integer
                  description: 'Minutos de atraso.'
                  example: 20
                motivo:
                  type: string
                  description: 'Motivo do atraso.'
                  example: 'Transito intenso'
                  nullable: true
                ocorrido_em:
                  type: datetime
                  description: 'Data e hora reais do atraso.'
                  example: '2026-06-25 08:30:00'
              required:
                - minutos_atraso
                - ocorrido_em
    parameters:
      -
        in: path
        name: id
        description: 'ID da solicitacao.'
        example: 101
        required: true
        schema:
          type: integer
  '/api/v2/admin/solicitacoes/{id}/atraso-passageiro':
    post:
      summary: 'Registrar atraso de passageiro'
      operationId: registrarAtrasoDePassageiro
      description: 'Cria registro de atraso de um passageiro vinculado a solicitacao.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Atraso de passageiro registrado com sucesso'
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Atraso de passageiro registrado com sucesso'
      tags:
        - Atrasos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                passageiro_id:
                  type: integer
                  description: 'ID do passageiro.'
                  example: 55
                minutos_atraso:
                  type: integer
                  description: 'Minutos de atraso.'
                  example: 10
                motivo:
                  type: string
                  description: 'Motivo do atraso.'
                  example: 'Nao compareceu no ponto'
                  nullable: true
                ocorrido_em:
                  type: datetime
                  description: 'Data e hora reais do atraso.'
                  example: '2026-06-25 08:30:00'
              required:
                - passageiro_id
                - minutos_atraso
                - ocorrido_em
    parameters:
      -
        in: path
        name: id
        description: 'ID da solicitacao.'
        example: 101
        required: true
        schema:
          type: integer
  /api/v2/auth/login:
    post:
      summary: 'Login do usuario'
      operationId: loginDoUsuario
      description: 'Autentica e retorna token para uso via Bearer.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Login realizado com sucesso'
                  data:
                    token: 1|abcdef...
                    user:
                      id: 1
                      name: Admin
                      email: admin@systex.com.br
                      role: admin
                      operador_id: 1
                      cliente_id: null
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Login realizado com sucesso'
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 1|abcdef...
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Admin
                          email:
                            type: string
                            example: admin@systex.com.br
                          role:
                            type: string
                            example: admin
                          operador_id:
                            type: integer
                            example: 1
                          cliente_id:
                            type: string
                            example: null
                            nullable: true
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Credenciais invalidas'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Credenciais invalidas'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email do usuario.'
                  example: dev@systex.com.br
                password:
                  type: string
                  description: 'Senha do usuario.'
                  example: '123456'
                device_name:
                  type: string
                  description: validation.max.
                  example: u
                  nullable: true
              required:
                - email
                - password
      security: []
  /api/v2/auth/logout:
    post:
      summary: 'Logout do usuario'
      operationId: logoutDoUsuario
      description: 'Revoga o token atual.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Logout realizado com sucesso'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Logout realizado com sucesso'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Auth
  /api/v2/checklists/iniciar:
    post:
      summary: 'Iniciar checklist'
      operationId: iniciarChecklist
      description: 'Cria uma execucao de checklist para veiculo e motorista do operador.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Checklist iniciado'
                  data:
                    id: 10
                    status: em_andamento
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Checklist iniciado'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 10
                      status:
                        type: string
                        example: em_andamento
      tags:
        - Checklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                solicitacao_id:
                  type: integer
                  description: 'Must match an existing stored value.'
                  example: 16
                  nullable: true
                veiculo_id:
                  type: integer
                  description: 'ID do veiculo.'
                  example: 1
                motorista_id:
                  type: integer
                  description: 'ID do motorista.'
                  example: 2
                  nullable: true
              required:
                - veiculo_id
                - motorista_id
  '/api/v2/checklists/{id}/respostas':
    post:
      summary: 'Salvar respostas do checklist'
      operationId: salvarRespostasDoChecklist
      description: "Recebe lote de respostas por codigo de item.\nPara status falha, observacao e foto_base64 sao obrigatorios."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Respostas salvas com sucesso'
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Respostas salvas com sucesso'
      tags:
        - Checklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                respostas:
                  type: array
                  description: 'Lista de respostas.'
                  example:
                    - architecto
                  items:
                    type: string
              required:
                - respostas
    parameters:
      -
        in: path
        name: id
        description: 'ID do checklist.'
        example: 10
        required: true
        schema:
          type: integer
  '/api/v2/checklists/{id}/finalizar':
    post:
      summary: 'Finalizar checklist'
      operationId: finalizarChecklist
      description: 'Finaliza checklist somente se todos os itens ativos estiverem respondidos.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Checklist finalizado com sucesso'
                  data:
                    status: finalizado
                    resultado: apto
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Checklist finalizado com sucesso'
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: finalizado
                      resultado:
                        type: string
                        example: apto
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Nao e possivel finalizar checklist com itens sem resposta.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Nao e possivel finalizar checklist com itens sem resposta.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Checklist
    parameters:
      -
        in: path
        name: id
        description: 'ID do checklist.'
        example: 10
        required: true
        schema:
          type: integer
  /api/v2/auth/refresh:
    post:
      summary: ''
      operationId: postApiV2AuthRefresh
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
  /api/v2/notifications/unread-count:
    get:
      summary: ''
      operationId: getApiV2NotificationsUnreadCount
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
  /api/v2/admin/catalogos/clientes:
    get:
      summary: ''
      operationId: getApiV2AdminCatalogosClientes
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
  /api/v2/admin/catalogos/motoristas:
    get:
      summary: ''
      operationId: getApiV2AdminCatalogosMotoristas
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
  /api/v2/admin/catalogos/veiculos:
    get:
      summary: ''
      operationId: getApiV2AdminCatalogosVeiculos
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
  /api/v2/admin/catalogos/passageiros:
    get:
      summary: ''
      operationId: getApiV2AdminCatalogosPassageiros
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cliente_id:
                  type: integer
                  description: 'Must match an existing stored value.'
                  example: 16
                  nullable: true
  /api/v2/cliente/catalogos/passageiros:
    get:
      summary: ''
      operationId: getApiV2ClienteCatalogosPassageiros
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cliente_id:
                  type: integer
                  description: 'Must match an existing stored value.'
                  example: 16
                  nullable: true
  /api/v2/checklists/itens:
    get:
      summary: ''
      operationId: getApiV2ChecklistsItens
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
  '/api/v2/checklists/{id}':
    get:
      summary: ''
      operationId: getApiV2ChecklistsId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the checklist.'
        example: '564'
        required: true
        schema:
          type: string
  /api/v2/motorista/viagens:
    get:
      summary: ''
      operationId: getApiV2MotoristaViagens
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                data_inicio:
                  type: string
                  description: validation.date.
                  example: '2026-06-29T17:45:04'
                  nullable: true
                data_fim:
                  type: string
                  description: 'validation.date validation.after_or_equal.'
                  example: '2052-07-22'
                  nullable: true
                per_page:
                  type: integer
                  description: 'validation.min validation.max.'
                  example: 22
                  nullable: true
  '/api/v2/motorista/viagens/{id}':
    get:
      summary: ''
      operationId: getApiV2MotoristaViagensId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the viagen.'
        example: architecto
        required: true
        schema:
          type: string
  '/api/v2/motorista/viagens/{id}/iniciar':
    post:
      summary: ''
      operationId: postApiV2MotoristaViagensIdIniciar
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the viagen.'
        example: architecto
        required: true
        schema:
          type: string
  '/api/v2/motorista/viagens/{id}/finalizar':
    post:
      summary: ''
      operationId: postApiV2MotoristaViagensIdFinalizar
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the viagen.'
        example: architecto
        required: true
        schema:
          type: string
  '/api/v2/motorista/viagens/{id}/atraso':
    post:
      summary: ''
      operationId: postApiV2MotoristaViagensIdAtraso
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                minutos_atraso:
                  type: integer
                  description: validation.min.
                  example: 16
                motivo:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                ocorrido_em:
                  type: string
                  description: validation.date.
                  example: '2026-06-29T17:45:04'
              required:
                - minutos_atraso
                - ocorrido_em
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the viagen.'
        example: architecto
        required: true
        schema:
          type: string
  '/api/v2/motorista/viagens/{id}/ocorrencia':
    post:
      summary: ''
      operationId: postApiV2MotoristaViagensIdOcorrencia
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tipo:
                  type: string
                  description: validation.max.
                  example: b
                descricao:
                  type: string
                  description: ''
                  example: architecto
                ocorrido_em:
                  type: string
                  description: validation.date.
                  example: '2026-06-29T17:45:04'
                evidencia_base64:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
              required:
                - tipo
                - descricao
                - ocorrido_em
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the viagen.'
        example: architecto
        required: true
        schema:
          type: string
  /api/v2/motorista/pagamentos/extrato:
    get:
      summary: ''
      operationId: getApiV2MotoristaPagamentosExtrato
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
  /api/v2/motorista/pagamentos/extrato.pdf:
    get:
      summary: ''
      operationId: getApiV2MotoristaPagamentosExtratoPdf
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: false
                  message: 'Não autenticado.'
                  data: null
                properties:
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Não autenticado.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Endpoints
  /api/v2/funcionario/feedback:
    post:
      summary: ''
      operationId: postApiV2FuncionarioFeedback
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tipo:
                  type: string
                  description: ''
                  example: critica
                  enum:
                    - sugestao
                    - critica
                mensagem:
                  type: string
                  description: 'validation.min validation.max.'
                  example: b
              required:
                - tipo
                - mensagem
  /api/v2/me:
    get:
      summary: 'Dados do usuario autenticado'
      operationId: dadosDoUsuarioAutenticado
      description: 'Retorna o perfil atual baseado no token Bearer.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Usuario autenticado'
                  data:
                    id: 1
                    name: Admin
                    email: admin@systex.com.br
                    role: admin
                    operador_id: 1
                    cliente_id: null
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Usuario autenticado'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: Admin
                      email:
                        type: string
                        example: admin@systex.com.br
                      role:
                        type: string
                        example: admin
                      operador_id:
                        type: integer
                        example: 1
                      cliente_id:
                        type: string
                        example: null
                        nullable: true
      tags:
        - Me
  /api/v2/notifications:
    get:
      summary: 'Listar notificacoes do usuario'
      operationId: listarNotificacoesDoUsuario
      description: 'Retorna notificacoes do usuario autenticado no escopo do operador.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Notificacoes listadas'
                  data:
                    current_page: 1
                    data: []
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Notificacoes listadas'
                  data:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      data:
                        type: array
                        example: []
      tags:
        - Notificacoes
  '/api/v2/notifications/{id}/read':
    patch:
      summary: 'Marcar notificacao como lida'
      operationId: marcarNotificacaoComoLida
      description: 'Atualiza read_at no vinculo usuario-notificacao.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Notificacao marcada como lida'
                  data:
                    id: 1
                    read_at: '2026-02-24 14:00:00'
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Notificacao marcada como lida'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      read_at:
                        type: string
                        example: '2026-02-24 14:00:00'
      tags:
        - Notificacoes
    parameters:
      -
        in: path
        name: id
        description: 'ID da notificacao.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v2/cliente/solicitacoes:
    get:
      summary: 'Listar solicitacoes do cliente autenticado'
      operationId: listarSolicitacoesDoClienteAutenticado
      description: 'Retorna somente solicitacoes do cliente vinculado ao usuario.'
      parameters:
        -
          in: query
          name: status
          description: 'Filtro por status.'
          example: aberta
          required: false
          schema:
            type: string
            description: 'Filtro por status.'
            example: aberta
        -
          in: query
          name: data_inicio
          description: 'date Filtro inicial (Y-m-d).'
          example: '2026-02-01'
          required: false
          schema:
            type: string
            description: 'date Filtro inicial (Y-m-d).'
            example: '2026-02-01'
        -
          in: query
          name: data_fim
          description: 'date Filtro final (Y-m-d).'
          example: '2026-02-28'
          required: false
          schema:
            type: string
            description: 'date Filtro final (Y-m-d).'
            example: '2026-02-28'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Solicitacoes listadas'
                  data:
                    current_page: 1
                    data: []
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Solicitacoes listadas'
                  data:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      data:
                        type: array
                        example: []
      tags:
        - Solicitacoes
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                data_inicio:
                  type: string
                  description: validation.date.
                  example: '2026-06-29T17:45:04'
                  nullable: true
                data_fim:
                  type: string
                  description: 'validation.date validation.after_or_equal.'
                  example: '2052-07-22'
                  nullable: true
                natureza:
                  type: string
                  description: ''
                  example: programada
                  enum:
                    - programada
                    - extra
                  nullable: true
                tipo_periodo:
                  type: string
                  description: ''
                  example: mensal
                  enum:
                    - diario
                    - mensal
                    - esporadico
                  nullable: true
                per_page:
                  type: integer
                  description: 'validation.min validation.max.'
                  example: 22
                  nullable: true
    post:
      summary: 'Criar solicitacao de viagem (cliente)'
      operationId: criarSolicitacaoDeViagemcliente
      description: 'Cria solicitacao com status inicial solicitada e notifica admins do operador.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ok: true
                  message: 'Solicitacao criada com sucesso'
                  data:
                    id: 101
                    status: solicitada
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Solicitacao criada com sucesso'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 101
                      status:
                        type: string
                        example: solicitada
      tags:
        - Solicitacoes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                origem:
                  type: string
                  description: 'Local de origem.'
                  example: Matriz
                destino:
                  type: string
                  description: 'Local de destino.'
                  example: Aeroporto
                data_hora:
                  type: datetime
                  description: 'Data/hora da viagem.'
                  example: '2026-02-25 08:00:00'
                passageiros_previstos:
                  type: integer
                  description: 'Quantidade prevista.'
                  example: 12
                  nullable: true
                observacao:
                  type: string
                  description: 'Observacao opcional.'
                  example: 'Prioridade alta'
                  nullable: true
                passageiro_ids:
                  type: array
                  description: 'IDs dos passageiros do cliente.'
                  example:
                    - architecto
                  items:
                    type: string
                natureza:
                  type: string
                  description: ''
                  example: programada
                  enum:
                    - programada
                    - extra
                  nullable: true
                tipo_periodo:
                  type: string
                  description: ''
                  example: diario
                  enum:
                    - diario
                    - mensal
                    - esporadico
                  nullable: true
              required:
                - origem
                - destino
                - data_hora
